*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

.myclock{
    display: flex;
    width: 100VW;
    justify-content: space-around;
    margin-left: 0;
    flex-wrap: wrap;
}

.country{
    width: 300px;
    margin: 10px;
}

h6{
    font-weight: bolder;
}

h1{
    text-align: center;
}


.btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px ;
}

.setbtn{
    background-color: aliceblue;
    border: 2px solid black;
    margin-right: 0;
    padding: 5px 20px ;
    border-radius: 10px;

}

.sec{
    display: none;
}